<!DOCTYPE html>
<html>
  <head>
    <% if (pageName) { %>
    <title>Bruh | <%= pageName %></title>
    <%} else {%>
    <title>Bruh</title>
    <% } %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/91abd10b8f.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div>
          <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand company_logo" href="/">BRUH</a>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-md-6">
                  <li class="nav-item">
                    <a class="nav-link nav_item" href="/pages/about-us"
                      >About Us</a
                    >
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link nav_item"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Skin
                    </a>
                    <div
                      class="dropdown-menu animate__animated animate__bounceIn"
                      aria-labelledby="navbarDropdown"
                    >
                      <div class="dropdown-menu-container">
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Product category
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Face washes & cleansers
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#">
                              Face mists & toners
                            </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#">
                              Facial moisturizers
                            </a>
                            <a class="dropdown-item" href="#">Sunscreens</a>
                            <a class="dropdown-item" href="#">
                              Face oils, serums & specialists
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin concerns
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Acne & oil control
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#"> Ageing skin </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#"> Dryness </a>
                            <a class="dropdown-item" href="#">Dull skin</a>
                            <a class="dropdown-item" href="#">
                              Sun protection
                            </a>
                            <a class="dropdown-item" href="#"> Sensitivity </a>
                            <a class="dropdown-item" href="#">
                              Tanning & pigmentation
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin Type
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Oily & acne-prone skin
                            </a>
                            <a class="dropdown-item" href="#"
                              >Normal/combination skin</a
                            >
                            <a class="dropdown-item" href="#"> Dry skin </a>
                            <a class="dropdown-item" href="#">Sensitive skin</a>
                            <a class="dropdown-item" href="#"> Mature Skin </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Ingredients
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#"> Green tea </a>
                            <a class="dropdown-item" href="#">Hello aloe</a>
                            <a class="dropdown-item" href="#">
                              Chamomile & white tea
                            </a>
                            <a class="dropdown-item" href="#"
                              >Grape seed & sea buckthorn</a
                            >
                            <a class="dropdown-item" href="#"> Bright years </a>
                            <a class="dropdown-item" href="#">Vitamin-e</a>
                            <a class="dropdown-item" href="#"> Charcoal </a>
                            <a class="dropdown-item" href="#">
                              Bulgarian Rose
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link nav_item"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Hair
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-menu-container">
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Product category
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Face washes & cleansers
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#">
                              Face mists & toners
                            </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#">
                              Facial moisturizers
                            </a>
                            <a class="dropdown-item" href="#">Sunscreens</a>
                            <a class="dropdown-item" href="#">
                              Face oils, serums & specialists
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin concerns
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Acne & oil control
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#"> Ageing skin </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#"> Dryness </a>
                            <a class="dropdown-item" href="#">Dull skin</a>
                            <a class="dropdown-item" href="#">
                              Sun protection
                            </a>
                            <a class="dropdown-item" href="#"> Sensitivity </a>
                            <a class="dropdown-item" href="#">
                              Tanning & pigmentation
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin Type
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Oily & acne-prone skin
                            </a>
                            <a class="dropdown-item" href="#"
                              >Normal/combination skin</a
                            >
                            <a class="dropdown-item" href="#"> Dry skin </a>
                            <a class="dropdown-item" href="#">Sensitive skin</a>
                            <a class="dropdown-item" href="#"> Mature Skin </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Ingredients
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#"> Green tea </a>
                            <a class="dropdown-item" href="#">Hello aloe</a>
                            <a class="dropdown-item" href="#">
                              Chamomile & white tea
                            </a>
                            <a class="dropdown-item" href="#"
                              >Grape seed & sea buckthorn</a
                            >
                            <a class="dropdown-item" href="#"> Bright years </a>
                            <a class="dropdown-item" href="#">Vitamin-e</a>
                            <a class="dropdown-item" href="#"> Charcoal </a>
                            <a class="dropdown-item" href="#">
                              Bulgarian Rose
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link nav_item"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Body
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-menu-container">
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Product category
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Face washes & cleansers
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#">
                              Face mists & toners
                            </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#">
                              Facial moisturizers
                            </a>
                            <a class="dropdown-item" href="#">Sunscreens</a>
                            <a class="dropdown-item" href="#">
                              Face oils, serums & specialists
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin concerns
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Acne & oil control
                            </a>
                            <a class="dropdown-item" href="#">Face scrubs</a>
                            <a class="dropdown-item" href="#"> Ageing skin </a>
                            <a class="dropdown-item" href="#">Face Masks</a>
                            <a class="dropdown-item" href="#"> Dryness </a>
                            <a class="dropdown-item" href="#">Dull skin</a>
                            <a class="dropdown-item" href="#">
                              Sun protection
                            </a>
                            <a class="dropdown-item" href="#"> Sensitivity </a>
                            <a class="dropdown-item" href="#">
                              Tanning & pigmentation
                            </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Skin Type
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#">
                              Oily & acne-prone skin
                            </a>
                            <a class="dropdown-item" href="#"
                              >Normal/combination skin</a
                            >
                            <a class="dropdown-item" href="#"> Dry skin </a>
                            <a class="dropdown-item" href="#">Sensitive skin</a>
                            <a class="dropdown-item" href="#"> Mature Skin </a>
                          </div>
                        </div>
                        <div class="dropdown-menu-subsection">
                          <a class="dropdown-item-header" href="#">
                            Ingredients
                          </a>
                          <div class="dropdown-item-container">
                            <a class="dropdown-item" href="#"> Green tea </a>
                            <a class="dropdown-item" href="#">Hello aloe</a>
                            <a class="dropdown-item" href="#">
                              Chamomile & white tea
                            </a>
                            <a class="dropdown-item" href="#"
                              >Grape seed & sea buckthorn</a
                            >
                            <a class="dropdown-item" href="#"> Bright years </a>
                            <a class="dropdown-item" href="#">Vitamin-e</a>
                            <a class="dropdown-item" href="#"> Charcoal </a>
                            <a class="dropdown-item" href="#">
                              Bulgarian Rose
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <a
                    href="/blog"
                    class="nav-item nav-link nav_item"
                    href="/blog"
                  >
                    Blogs
                  </a>
                  <li class="nav-item">
                    <a class="nav-link nav_item" href="/pages/contact-us"
                      >Contact Us</a
                    >
                  </li>
                </ul>
                <div class="col-md-6 ml-auto mr-auto">
                  <ul
                    class="d-flex nav justify-content-center align-items-center header_nav"
                  >
                    <li>
                      <a href="/shopping-cart">
                        <i class="fas fa-shopping-cart"></i> <% if(session.cart)
                        { %>
                        <span class="badge badge-pill badge-info"
                          ><%= session.cart.totalQty %></span
                        >
                        <% } else { %>
                        <span class="badge badge-pill badge-info">0</span>
                        <% } %>
                      </a>
                    </li>
                    <% if (login) { %>
                    <li>
                      <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-user"></i> Welcome
                        <%=currentUser.username%>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a
                          class="dropdown-item"
                          href="/user/profile"
                          class="navbar_item credentials"
                        >
                          User Account
                        </a>
                        <div class="dropdown-divider"></div>
                        <a
                          class="dropdown-item"
                          href="/user/logout"
                          class="navbar_item credentials"
                        >
                          Logout
                        </a>
                      </div>
                    </li>
                    <% } else {%>
                    <li>
                      <a href="/user/signup" class="navbar_item credentials">
                        Sign Up</a
                      >
                    </li>
                    <li>
                      <a href="/user/signin" class="navbar_item credentials">
                        Sign In</a
                      >
                    </li>
                    <% }%>
                  </ul>
                </div>
              </div>
            </nav>
            <!--End Navbar-->
          </header>
        </div>
      </div>
    </div>
  </body>
</html>
